<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>

</style>
<body style= "background-color:#eee">
<div class="container">
<nav class="navbar navbar-inverse" style="margin-top:40px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Contact Us</a>
    </div>
  </div>
</nav>
<div class="col-md-1">
  </div>
<div class="col-md-4">
  <form>
    <h4>Name</h4>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="fname" type="text" class="form-control" name="fname" placeholder="name">
    </div>
    <h4>Email</h4>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="email" type="text" class="form-control" name="email" placeholder="Email">
    </div>
    <h4>Subject</h4>
    <div class="input-group">   
       <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
      <select  class="form-control">
        <option class="form-control" value="feedback">Feedback</option>
        <option class="form-control" value="query">Query</option>
        <option class="form-control" value="technical">Technical Help</option>
        <option class="form-control" value="bug_report">Bug Report</option>
        <option class="form-control" value="other">Others</option>
      </select>
    </div>
    <h4>Message</h4>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
      <textarea  class="form-control" type="text" name="message" placeholder="Additional Info">
      </textarea> 
    </div>
    <br>
    <button type="button" class="btn btn-primary btn-md" type="submit" name="submit">Send</button>
  </form>
  <br>
  </form>
	</div>

<div class="col-md-2">
</div>
<div class="col-md-4">
	  <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Our Address</legend>
            <address>
                <strong>Ymca University.</strong><br>
                Nehru Hostel <br>
                Room No 102 <br>
                 <h4>  <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
   Phone Numbers:-</h4>
  
    <li>+91 9953764100</li>
    <li>+91 9034731981</li>
<br>
<h4> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
   Social Links:-</h4>
  
    <a href="https://www.facebook.com/prince.batra.106"><li>https://www.facebook.com/prince.batra.106</li></a>
    <a href="https://www.instagram.com/prince__batra23/"><li>https://www.instagram.com/prince__batra23</li></a>
            </address>
            <address>
                <strong>Mail us at</strong><br>
                <a href="mailto:contact@ymcamart.com">princebatra2315@gmail.com</a>
            </address>
            </form>
  	</div>


</div>
</body>
</html>