<!DOCTYPE html>
<html>
  <head>
    <title>contact | Travel Easy</title>
  </head>
  <body>
    <h1>Travel Easy</h1>
    <p>
      This is the contact page for the Travel Easy application.
    </p>
  </body>
</html>
