<!DOCTYPE html>
<html>
  <head>
    <title>Help | Travel Easy</title>
  </head>
  <body>
 <h1><u><center>About Travel-Easy<br/><br/>
 	<div class="manmeet"><img src="/logo.png" width="60%"></div></center></u></h1>
 	<h3>
Everybody loves to go on an adventurous trip to travel different places but sometimes it might occur that the airline in which you want to travel has no more tickets left. But there are people who cancel their tickets or even sometimes there are tickets which are left vacant but people are not informed about it.
<br><br>
Here, our website comes into play and it will inform the travelers regarding the vacant seats or even the seats which are canceled one day before departure. Our website will be a medium for travelers and travel airlines for ticket purchasing and we will sell these unused tickets at cheaper rates so as to make them affordable.
<br><br>
Both customer and service provider got their needs fulfilled.
 	</h3>
  </body>
</html>
