@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
}
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
  color: red;
  text-decoration: none;
}
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
  color: #555;
  &:hover {
  color: #222;
}
 }
 small {
  float: left;
}

 ul {
  float: right;
  list-style: none;

  li {
  float: left;
  margin-left: 15px;
}
}
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
   box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    background: url("/ticket.png");
    display: block;
    height: 179px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato';
}
img {
  max-width: 100%;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.wrapper {
  width: 100%;
}
.header-background-image{
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  max-width: 100%;
}
.menu-background-color {
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(24,101,171,1));
}

.header-menu li {
    display: inline-block;
    font-size: 14px;
    padding: 17px 0px 10px 50px;
    text-transform: uppercase;
}
.header-menu a{
    color: #fff;
    text-decoration: none;
}
.header-menu {
    margin-top: 80px;
    padding: 5px 0px 5px 0;
}
.header-logo {
    position: relative;
    right: -10px;
    z-index: 999;
    border-radius: 50%;
    margin-top: 20px;
}
.active-menu a{
  padding: 10px 25px;
  background: #226DAF;
  border-radius: 5px;
}
.connecting-world{
  text-align: center; 
  margin-top: 50px;
}
.connecting-world h1{
  margin-bottom: 12px;
  color: #1D69AD;
}
.connecting-world p{
  font-size: 20px;
  padding: 15px 10px;
  color: #878787;
  display: block;
}
.airlines-travel-tourism {
    border: 3px solid #1D69AD;
    text-align: center;
    padding: 25px;
    margin-top: 25px;
}
.airlines-travel-tourism h1 {
    color: #637381;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
.airlines-travel-tourism i {
    color: #1D69AD;
    font-size: 100px;
    margin: 15px 0px;
}
.airlines-travel-tourism p {
    color: #637381;
    font-size: 19px;
    margin-bottom: 40px;
    padding: 5px;
}
.airlines-travel-tourism a {
    color: #1D69AD;
    border: 2px solid #1D69AD;
    padding: 10px 30px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}
.customers-about{
  text-align: center;
  margin-top: 60px;
}
.customers-about i{
  font-size: 70px;
  color: #637381;
}
.customers-about h1{
  font-size: 25px;
}
.customers-suggestion{
  text-align: center;
}
.customers-suggestion p {
    color: #000;
    font-size: 18px;
    margin: 30px 0px;
}
.customers-suggestion a{
  color: #1D69AD;
  text-decoration: none;
  font-weight: 600;
}
.customers-suggestion h2{
  color: #637381;
  font-size: 21px;
}
.airlines-travel-tourism a:hover{
  background-color: #1D69AD;
  color: #fff;
}

.data {
  height: 179px;
  width:397px;
  margin: auto;
   margin-left: 20px;
}
.container1{
  width:400px;
  height:400px;
  position: relative;
}
.card{
  text-align:center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
}
.face.front{
  background:#fff; 
}
.face.back {
  display: block;
  box-sizing: border-box;
  padding: 20px;
  color: white;
  text-align: left;
  background-color: #333;
}

.container1{
  perspective: 800px;
}
.card{
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.card:hover .front{
  transform: rotateY(-180deg);
}

.card:hover .back {
 transform: rotateY(0deg);
}
.face {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.face.front {
  transform: rotateY(0deg);
} 

.face.back {
  transform: rotateY(180deg); 
}
.face.front h1{
  font-size: 20px;
  margin-top: 20px;
}
.face.front a{
  color: #f13f89;
  text-decoration: none;
}
.flipper-2{
  padding-top: 30px; 
}
.face.back p {
    font-size: 22px;
    margin-top: 35px;
}
.carder{
  margin-top: 40px;
}
.face.front img{
  margin-top: 25px;
}

.setfirst{
  padding-left: 28px;
padding-top: 62px;
}

.setsecond{
  padding-left: 23px;
padding-top: 25px;
}

.setthird{
  padding-left: 21px;
padding-top: 25px;
}

.setfourth{
  padding-top: 2px;
padding-left: 32px;
}